<div ng-if="vm.state.active">
	<div class="c-modal o-bg--{{ vm.state.pokemon.type.join('-') | lowercase }}">
		<div class="c-modal__back" ng-click="vm.back()">
			<ng-include src="'images/back.svg'"></ng-include>
		</div>
		<div class="c-modal__inner">
			<div class="c-pokemon">
				<div class="c-pokemon__intro o-bg--{{ vm.state.pokemon.type.join('-') | lowercase }}">
					<div class="c-pokemon__name">{{ vm.state.pokemon.name }}</div>
					<div class="c-pokemon__species">{{ vm.state.pokemon.species }}</div>
				</div>

				<div class="c-pokemon__data">
					<img class="c-pokemon__img" ng-src="images/pokemons/{{ vm.state.pokemon.name | normalizePokemonName | lowercase }}.jpg">

					<div>
						<h2>Type:</h2>
			            <ul class="c-types-list">
			                <li ng-repeat="type in vm.state.pokemon.type">
			                    <div class="c-type c-type--filter o-bg--{{ type | lowercase }}">{{ type }}</div>
			                </li>
			            </ul>
			        </div>

		            <h2>Stats:</h2>
		            <pokemon-stats types="vm.state.pokemon.type">
	            		<pokemon-stat name="HP" points="{{ vm.state.pokemon.stats.hp }}"></pokemon-stat>
	            		<pokemon-stat name="Attack" points="{{ vm.state.pokemon.stats.attack }}"></pokemon-stat>
	            		<pokemon-stat name="Defense" points="{{ vm.state.pokemon.stats.defense }}"></pokemon-stat>
	            		<pokemon-stat name="Atk speed" points="{{ vm.state.pokemon.stats['sp.atk'] }}"></pokemon-stat>
	            		<pokemon-stat name="Def speed" points="{{ vm.state.pokemon.stats['sp.def'] }}"></pokemon-stat>
		            </pokemon-stats>

		            <h2>Abilites:</h2>
		            <ul class="o-list">
		            	<li ng-repeat="ability in vm.state.pokemon.abilities">{{ ability }}</li>
		            </ul>

		            <h2>Evolutions:</h2>
		            <ul class="c-evolutions-list">
		            	<li ng-repeat="evolution in vm.state.pokemon.evolution">
		            		<div class="c-evolution">
			            		<img class="c-evolution__img" ng-src="images/pokemons/{{evolution | normalizePokemonName | lowercase }}.jpg">
			            		<div class="c-evolution__name">{{ evolution }}</div>
		            		</div>
		            	</li>
		            </ul>
				</div>
			</div>
		</div>
	</div>
</div>