<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pokédex by @patryknawolski</title>

    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

    <!-- build:css css/style.min.css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="BodyController as vm" ng-class="{ 'no-scroll': !vm.state.scroll }">

    <div ng-controller="PokemonsController as vm">
        <sidebar>
            <sidebar-tab title="Filtering">
                <h2>Filter by name:</h2>
                <input ng-model="vm.nameFilter" type="text">

                <h2>Filter by type:</h2>
                <ul class="c-types-list">
                    <li ng-repeat="(type, props) in vm.types">
                        <div class="c-type c-type--filter o-bg--{{ type }}"
                             ng-class="{ 'is-disabled': !props.active }"
                             ng-click="vm.toggleType(type)">{{ type }}</div>
                    </li>
                </ul>
            </sidebar-tab>
            <sidebar-tab title="Sorting">
                <h2>Sort by:</h2>
                <select ng-model="vm.orderBy" ng-options="item.label for item in vm.orderByOptions" value="{{ item.name }}">
                </select>
                <input id="orderReverse" ng-model="vm.orderReverse" type="checkbox">
                <label for="orderReverse">Reverse</label>
            </sidebar-tab>
        </sidebar>

        <ul class="c-cards-list">
            <li class="c-cards-list__item" ng-repeat="pokemon in vm.pokemons | pokemonsByTypes:vm.getActiveTypes() | filter: { name: vm.nameFilter } | orderBy: vm.orderBy.property : vm.orderReverse">
                <card pokemon="pokemon" ng-click="vm.showInfo(pokemon)"></card>
            </li>
            <li class="c-cards-list__filler" ng-repeat="i in [1, 2, 3, 4, 5]"></li>
        </ul>
    </div>

    <pokemon-info></pokemon-info>

    <!-- build:js js/app.min.js -->
    <script src="bower_components/angular/angular.js"></script>

    <!-- bootstrapping -->
    <script src="app/app.module.js"></script>

    <!-- core -->
    <script src="app/core/core.module.js"></script>
    <script src="app/core/data.factory.js"></script>

    <!-- filters -->
    <script src="app/filters/filters.module.js"></script>
    <script src="app/filters/normalize-pokemon-name.filter.js"></script>
    <script src="app/filters/pokemons-by-type.filter.js"></script>

    <!-- layout -->
    <script src="app/layout/layout.module.js"></script>
    <script src="app/layout/body.factory.js"></script>
    <script src="app/layout/body.controller.js"></script>
    <script src="app/layout/sidebar.controller.js"></script>
    <script src="app/layout/sidebar.directive.js"></script>
    <script src="app/layout/sidebar-tab.directive.js"></script>

    <!-- widgets -->
    <script src="app/widgets/widgets.module.js"></script>
    <script src="app/widgets/card.directive.js"></script>

    <!-- pokemons -->
    <script src="app/pokemons/pokemons.module.js"></script>
    <script src="app/pokemons/pokemons.controller.js"></script>
    <script src="app/pokemons/pokemon-info.factory.js"></script>
    <script src="app/pokemons/pokemon-info.controller.js"></script>
    <script src="app/pokemons/pokemon-info.directive.js"></script>
    <!-- endbuild -->
  </body>
</html>