html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-size: 16px;
	color: $color-text;
	font-family: 'VT323';

	background-color: $color-bg;

	@include mq(md) {
		padding-left: $sidebar-width;
	}
}

a {
	text-decoration: none;
}

h2 {
	margin-bottom: $base-line * 2;

	font-size: 24px;
	line-height: $base-line * 4;
}

input[type="text"], select {
	width: 100%;
	height: 35px;
	margin-bottom: $base-line * 2;

	color: inherit;
	font-family: inherit;
	font-size: 16px;

	background: transparent;
	border: 2px solid;
	border-radius: 0;

	outline: none;
}

input[type="text"] {
	padding: 0 8px 2px;
}