html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding-left: $sidebar-width;

	font-size: 16px;
	color: $color-text;
	font-family: 'VT323';

	background-color: $color-bg;
}

h2 {
	margin-bottom: $base-line * 2;

	font-size: 24px;
	line-height: $base-line * 4;
}