html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 20px;

	font-size: 16px;
	color: $color-text;
	font-family: 'VT323';

	background-color: $color-bg;
}