$_left-width: 45%;
$_image-width: 35%;

.c-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	border-radius: 5px;
	background-color: #fff;

	&__top {
		flex: 0 0 100px;
		position: relative;	
	}

	&__bottom {
		display: flex;
		flex: 1 0 auto;
	}

	&__left {
		flex: 0 0 $_left-width;
		padding: ($_image-width / 2) 20px 20px;
		position: relative;

		border-right: 1px solid #dadada;
	}

	&__right {
		flex: 0 1 100%;
		padding: ($_image-width / 2) 20px 20px;
	}

	&__id {
		position: absolute;
		top: 10px;
		right: 15px;

		color: #fff;
		font-size: 20px;
	}

	&__image-wrap {
		width: $_image-width;
		padding: 10px;
		position: absolute;
		top: 100%;
		left: $_left-width;
		z-index: 1;
		overflow: hidden;

		border-radius: 50%;
		background-color: #fff;
		box-shadow: $box-shadow;

		transform: translate(-60%, -50%);
	}

	&__image {
		padding-top: 100%;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;

			transform: translate(-50%, -50%);
		}
	}

	&__label {
		margin: $base-line 0;

		font-size: 18px;
		line-height: $base-line * 2;
	}

	&__stats {
		font-size: 15px;
		line-height: $base-line * 2;
	}

	&__name {
		margin: $base-line 0 $base-line * 2;

		font-size: 20px;
		line-height: $base-line * 2;
	}

	&__types {
		display: flex;
		flex-wrap: wrap;
		margin: -6px 0 0 -6px;
		> li {
			padding: 6px 0 0 6px;
		}
	}
}