.c-sidebar {
	width: $sidebar-width;
	height: 100%;
	padding: 20px;
	position: fixed;
	top: 0;
	left: -$sidebar-width;
	z-index: 1000;

	color: #fff;

	background-color: $color-pokemon-red;
	
	transition: transform .3s ease-in-out;

	@include mq(md) {
		transform: translateX(100%);
	}

	&.is-open {
		@include mq($max: md) {
			transform: translateX(100%);
		}
	}

	&__hamburger {
		position: absolute;
		top: 0;
		right: -$hamburger-width;
		width: $hamburger-width;
		height: $hamburger-width;
		padding: 10px;

		cursor: pointer;
		transition: transform .3s ease-in-out;

		@include mq(md) {
			display: none;
		}

		svg {
			width: 100%;
			height: 100%;

			fill: $color-pokemon-red;

			transition: fill .3s linear,
					   transform .3s ease-in-out;
		}

		&.is-open {
			transform: translateX(-$hamburger-width);
			
			svg {
				fill: #fff;

				transform: rotate(180deg);
			}
		}
	}
}