.c-sidebar {
	width: $sidebar-width-xs;
	height: 100%;
	position: fixed;
	top: 0;
	left: -$sidebar-width-xs;
	z-index: 1000;

	color: #fff;

	background-color: $color-pokemon-red;
	
	transition: transform .3s ease-in-out;

	@include mq(sm) {
		width: $sidebar-width;
		left: -$sidebar-width;
	}
 
	@include mq(md) {
		transform: translateX(100%);
	}

	&.is-open {
		@include mq($max: md) {
			transform: translateX(100%);
		}
	}

	&__hamburger {
		width: $hamburger-width;
		height: $hamburger-width;
		padding: 10px;
		position: absolute;
		top: 10px;
		right: -$hamburger-width - 10px;

		border-radius: 50%;
		background-color: #fff;

		cursor: pointer;
		transition: transform .3s ease-in-out;
		box-shadow: $box-shadow;

		@include mq(md) {
			display: none;
		}

		svg {
			width: 100%;
			height: 100%;

			fill: $color-pokemon-red;

			transition: fill .3s linear,
					   transform .3s ease-in-out;
		}

		&.is-open {
			background-color: #fff;
			
			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__tabs {
		display: flex;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		> li {
			flex: 1 1 auto;

			&.is-active {
				> a {
					background-color: $color-pokemon-red;
				}
			}

			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: $sidebar-tab-height;
				padding: 0 10px;

				color: inherit;

				background-color: scale_color($color-pokemon-red, $lightness: -10%);
			}
		}
	}

	&__tab-content {
		height: 100%;
		padding-top: $sidebar-tab-height;
	}

	&__tab-content-inner {
		height: 100%;
		padding: 20px;
		overflow-y: auto;
	}
}