// Breakpoints
$breakpoints: (
	sm: 768px,
	md: 992px,
	lg: 1200px
);


// Colours
$color-text: #171717;

$color-bg: #f2f2f2;

$color-pokemon-red: #e3350d;

$color-bug: #97a51d;
$color-dragon: #5e1df7;
$color-electric: #f6c913;
$color-fairy: #e87890;
$color-flying: #8e6feb;
$color-fighting: #ae2a24;
$color-fire: #ed6d12;
$color-ghost: #644e88;
$color-grass: #69c23d;
$color-ground: #dbb54d;
$color-ice: #7ecece;
$color-normal: #9c9c63;
$color-poison: #923a92;
$color-psychic: #f73670;
$color-rock: #a48f32;
$color-water: #4578ed;
$color-steel: #a0a0c0;


// Typography
$base-line: 8px;


// Sidebar
$sidebar-width: 280px